PATH_TO_THERM		:	/home/mcsanjay/THERM_16-9-2015		# Give absolute path
HC_GROUPS_FILENAME	:	HC					# Hydrocarbon groups file
HCO_GROUPS_FILENAME	:	hco					# Hydrocarbon-oxygen groups file
INT_GROUPS_FILENAME	:	INT					# Steric interaction groups file
BD_GROUPS_FILENAME	:	bd					# Bond dissociation groups file

OUTPUT_FOLDER		:	/home/mcsanjay/Documents/Coding/Output/		# Give absolute path

WAIT_TIME		:	5					# Time (in seconds), the code will wait for manual input of bond dissociation group 

R	=	1.987 	cal/molK		# Universal gas constant in cal/molK
hf_H	=	52.103 	kcal/mol		# Standard heat of formation of hydrogen radical in kcal/mol
